body {
    margin: none;
    padding: none;
    background-color: #000;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 3px;
    background-color: #000;}

.content{
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: 2fr 3fr 2fr;
    height: 80vh;
}

.message{display:none;}


.content>div{
    margin-top: 1rem;
    grid-row: 1/6;
    grid-column: 2/3;
}


.header {
    font-size: 1.7rem;
    display: flex;
    width: 100vw;
}

.copyhelper {
    position: absolute;
  }


.content>a>p:hover {
    color: #198754;
}

body>nav>div>a {
    color: #fff;
    text-decoration: underline;
}

body>nav>div>a:hover {
    color: #198754;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #198754;
}

@media (max-width: 1000px) {

    .roof {
        font-size: 1.7rem;
        display: flex;
        width: 100vw
    }

    .form {
        grid-row: 3/6;
        grid-column: 1/4;
        padding: 2rem;
    }

    .content{
        display: grid;
        grid-template-rows: repeat(8, 1fr);
        height: 80vh;
        padding: 1rem;
    }

    .content>div{
        background-color: rgb(26, 26, 26);
        grid-column: 1/4;
        height: 110%;
        border-radius: 1rem;
        padding: 0rem;
        padding-top: 1rem;
    }
}