{% extends 'user_stat/stat.html' %}


{% block script_debit %}


<script type="text/javascript">
    const xValues = ["Italy", "France", "Spain", "USA", "Argentina"];
    const yValues = [55, 49, 44, 24, 15];
    const barColors = ["red", "green","blue","orange","brown"];

    let creditData = [{% for el in credit_dict.amount %}{{el}},{% endfor %}];
    let creditlabels = [{% for el in credit_dict.month %}{{el}},{% endfor %}];
    let debitlabels = [{% for el in debit_dict.month %}{{el}},{% endfor %}];
    let debitData = [{% for el in debit_dict.amount %}{{el}},{% endfor %}];
    let debitHistCategory = [{% for el in hist_debit.category %}'{{el}}',{% endfor %}];
    let debitHistAmount = [{% for el in hist_debit.amount %}{{el}},{% endfor %}];
    let creditHistCategory = [{% for el in hist_credit.category %}'{{el}}',{% endfor %}];
    let creditHistAmount = [{% for el in hist_credit.amount %}{{el}},{% endfor %}];


    new Chart("Chart_1", {
    type: 'doughnut',
    data: {
        labels: debitHistCategory,
        datasets: [{
            data: debitHistAmount,
            backgroundColor: ['#F72585', '#B5179E', '#7209B7', '#560BAD', '#480CA8', '#3A0CA3', '#3F37C9', '#4895EF', '#4CC9F0'],
            borderWidth: 5 ,
            borderColor: '#000'
        }]
    },
    options: {
        title: {
            display: true,
            text: 'Доходы',
            position: 'top',
            fontSize: 16,
            fontColor: '#fff',
            padding: 20
        },
        legend: {
            display: true,
            position: 'bottom',
            labels: {
                boxWidth: 20,
                fontColor: '#fff',
                padding: 15
            }
        },
        tooltips: {
            enabled: false
        },
        plugins: {
            datalabels: {
                color: '#fff',
                textAlign: 'center',
                font: {
                    lineHeight: 1.6
                },
                formatter: function(value, ctx) {
                    return ctx.chart.data.labels[ctx.dataIndex] + '\n' + value + '%';
                }
            }
        }
    }
});
new Chart("Chart_2", {
    type: 'doughnut',
    data: {
        labels: creditHistCategory,
        datasets: [{
            data: creditHistAmount,
            backgroundColor: ['#F72585', '#B5179E', '#7209B7', '#560BAD', '#480CA8', '#3A0CA3', '#3F37C9', '#4895EF', '#4CC9F0'],
            borderWidth: 5 ,
            borderColor: '#000'
        }]
    },
    options: {
        title: {
            display: true,
            text: 'Расходы',
            position: 'top',
            fontSize: 16,
            fontColor: '#fff',
            padding: 20
        },
        legend: {
            display: true,
            position: 'bottom',
            labels: {
                boxWidth: 20,
                fontColor: '#fff',
                padding: 15
            }
        },
        tooltips: {
            enabled: false
        },
        plugins: {
            datalabels: {
                color: '#fff',
                textAlign: 'center',
                font: {
                    lineHeight: 1.6
                },
                formatter: function(value, ctx) {
                    return ctx.chart.data.labels[ctx.dataIndex] + '\n' + value + '%';
                }
            }
        }
    }
});
const DATA_COUNT = 7;
const labels = [];
for (let i = 0; i < DATA_COUNT; ++i) {
  labels.push(i.toString());
}

new Chart("Chart_3", {
    type: 'line',
    data: {
        labels: debitlabels,
        datasets: [{
            label: 'Доход',
            data: debitData,
            borderColor: "#3772FF",
            fill: false,
            cubicInterpolationMode: 'monotone',
            tension: 0.4
          }]
    },
    options: {
        responsive: true,
        plugins: {
            title: {
              display: true,
              text: 'Chart.js Line Chart - Cubic interpolation mode'
            },
          },
        interaction: {
            intersect: false,
        },
        scales: {
            x: {
                display: true,
                title: {
                    display: true
                }
            },
            y: {
                display: true,
                title: {
                display: true,
                text: 'Value'
                },
                suggestedMin: -10,
                suggestedMax: 200
            }
        }
    }
});

new Chart("Chart_4", {
    type: 'line',
    data: {
        labels: creditlabels,
        datasets: [{
            label: 'Расход',
            data: creditData,
            borderColor: "#3772FF",
            fill: false,
            cubicInterpolationMode: 'monotone',
            tension: 0.4
          }]
    },
    options: {
        responsive: true,
        plugins: {
            title: {
              display: true,
              text: 'Chart.js Line Chart - Cubic interpolation mode'
            },
          },
        interaction: {
            intersect: false,
        },
        scales: {
            x: {
                display: true,
                title: {
                    display: true
                }
            },
            y: {
                display: true,
                title: {
                display: true,
                text: 'Value'
                },
                suggestedMin: -10,
                suggestedMax: 200
            }
        }
    }
});
    </script>
{% endblock script_debit %}

