{% extends 'debit/pattern.html' %} 


{% block content%}
{% if request.user.is_authenticated and verify %}
<div>
    <div class="form" style="border-color: #136F63;">
      <form method='post'>
        <p style="font-size: 1.5rem;">Добавить категорию </p>
        {% csrf_token %} 
        {{ category_form.category }}
        <button type="submit" class="btn btn-outline-success" style="margin-top: 1rem;">Добавить</button>
      </form>
    </div>
    <div class="form" style="border-color: #D00000;">
        <p style="font-size: 1.5rem;">Создание</p>
        <form method='post'>
          {% csrf_token %} 
          <label for="startDate" style="margin-bottom: 0.5rem;">Дата</label>
          {{ debit_form.date }}
          <label for="startDate" style="margin-bottom: 0.5rem; margin-top: 1rem;">Сколько</label>
          <div class="input-group mb-3">
              <span class="input-group-text">₽</span>
              <span class="input-group-text">0.00</span>
              {{ debit_form.amount }}
          </div>
          <label for="startDate" style="margin-bottom: 0.5rem;">Категория</label>
          {{ debit_form.category }}
          <script>
            let debit_category = [{%for i in credit_categories%}'{{i}}',{%endfor%}];
            let select = document.getElementById('id_category')
          
            for(let i in debit_category){
              let elem = document.createElement('option');
              elem.innerHTML = `${debit_category[i]}`
              elem.value = `${debit_category[i]}`
              select.append(elem)
            }
          </script>
          <label for="startDate" style="margin-bottom: 0.5rem; margin-top: 1rem;">Приоритет расхода</label>
          {{ debit_form.priority }}
          <button type="submit" class="btn btn-outline-success" style="margin-top: 1rem;">Создать запись</button>
          <a href='http://127.0.0.1:8000/data/credit/'>
          <button type="button" class="btn btn-outline-secondary" style="margin-top: 1rem;">Обновить категории</button>
          </a>
        </form>
    </div>
    <div class="form" style="border-color: #D05CD6; height: 300px">
        <p style="font-size: 1.5rem;">Ваши записи</p>
        <div class="table-responsive" style="overflow: auto; height: 200px; border-radius: 1rem">
            <table class="table table-dark", style="background-color: #1a1a1a">
                <thead class="table-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">дата</th>
                    <th scope="col">сумма</th>
                    <th scope="col">категория</th>
                    <th scope="col">приоритет</th>
                  </tr>
                </thead>
                <tbody>
                  {% for el in records %}
                  <tr>
                    <th scope="row">{{el.id}}</th>
                    <td>{{el.date}}</td>
                    <td>{{el.amount}}</td>
                    <td>{{el.category}}</td>
                    <td>{{el.priority}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table> 
          </div>
    </div>
    <div class="form" style="border-color: #FFBA08;">
        <p style="font-size: 1.5rem;">Удаление</p>
        <form method='post'>
          {% csrf_token %}
            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Номер записи</label>
            {{ delete_record_form.record_id }}
            </div>
            <button type="submit" class="btn btn-outline-danger">Удалить</button>
        </form>
    </div>
    <div class="form">
      <p style="font-size: 1.2rem;">Удаление категорий</p>
      <form method='post'>
        {% csrf_token %}
          <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Категория</label>
          {{ delete_category.del_category }}
          <script>
            debit_category = [{%for i in credit_categories%}'{{i}}',{%endfor%}];
            select = document.getElementById('id_del_category')
          
            for(let i in debit_category){
              let elem = document.createElement('option');
              elem.innerHTML = `${debit_category[i]}`
              elem.value = `${debit_category[i]}`
              select.append(elem)
            }
          </script>
          </div>
          <button type="submit" class="btn btn-outline-danger">Удалить</button>
      </form>
    </div>
</div>
    {% else %}
    <div style="padding: 6rem">
        <p >Перед тем, как начать пользоваться войдите в аккаунт </p>
        <a href="http://127.0.0.1:8000/account/login/" style="color: #fff; text-decoration: none;">
            <button type="button" class="btn btn-outline-success">Авторизоваться</button>
        </a>
    </div>
    {% endif %}
{% endblock content%}


{% block page3 %}
style="text-decoration: underline;"
{% endblock page3 %}