{% extends 'debit/pattern.html' %} 


{% block content%}
{% if request.user.is_authenticated %}
<div>
    <div class="form" style="border-color: #840032;">
        <p style="font-size: 1.5rem;">Добавить категорию расходов</p>
        <input id="startDate" class="form-control" type="text" />
        <button type="button" class="btn btn-outline-success" style="margin-top: 1rem;">Добавить</button>
    </div>
    {% if data.categoryRecords %}
    <div class="form" style="border-color: #226f54;">
        <p style="font-size: 1.5rem;">Создание</p>
        <label for="startDate" style="margin-bottom: 0.5rem;">Дата</label>
        <input id="startDate" class="form-control" type="date" />
        <label for="startDate" style="margin-bottom: 0.5rem; margin-top: 1rem;">Сколько</label>
        <div class="input-group mb-3">
            <span class="input-group-text">₽</span>
            <span class="input-group-text">0.00</span>
            <input type="number" class="form-control" aria-label="amount">
        </div>
        <label for="startDate" style="margin-bottom: 0.5rem;">Категория</label>
        <select class="form-select" aria-label="Default select example">
            <option selected>кварплата</option>
            <option value="1">еда</option>
            <option value="2">одежда</option>
            <option value="3">транспорт</option>
        </select>
        <button type="button" class="btn btn-outline-success" style="margin-top: 1rem;">Создать запись</button>
    </div>
    {% else%}
    <div class="form" style="border-color: #226f54;">
      <p style="font-size: 1rem; color: #fff">Перед созданием записи нужно добавить категории</p>
  </div>
    {% endif %}
    {% if data.debitTableRecords %}
    <div class="form" style="border-color: #FFBA08; height: 300px">
        <p style="font-size: 1.5rem;">Ваши записи</p>
        <div class="table-responsive" style="overflow: auto; height: 200px; border-radius: 1rem">
            <table class="table table-dark", style="background-color: #1a1a1a">
                <thead class="table-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">дата</th>
                    <th scope="col">сумма</th>
                    <th scope="col">категория</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>11.02.2012</td>
                    <td>202310,21</td>
                    <td>зарплата</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>11.02.2012</td>
                    <td>202310,21</td>
                    <td>зарплата</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>11.02.2012</td>
                    <td>202310,21</td>
                    <td>зарплата</td>
                  </tr>
                </tbody>
              </table> 
          </div>
    </div>
    <div class="form" style="border-color: #D00000;">
        <p style="font-size: 1.5rem;">Удаление</p>
        <form>
            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Номер записи</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <button type="submit" class="btn btn-outline-danger">Удалить</button>
        </form>
    </div>
    </div>
</div>
  {% endif %}
    {% else %}
    <div style="padding: 6rem">
        <p >Перед тем, как начать пользоваться войдите в аккаунт </p>
        <a href="http://127.0.0.1:8000/account/login/" style="color: #fff; text-decoration: none;">
            <button type="button" class="btn btn-outline-success">Авторизоваться</button>
        </a>
    </div>
    {% endif %}
{% endblock content%}


{% block page3 %}
style="text-decoration: underline;"
{% endblock page3%}