{% extends "account/pattern.html" %}

{% block content %}
<div>
    <p style="font-size: 1.5rem">Восстановление пароля</p>
    {% if validlink %}
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-success" stule='margin-top: 4rem;'>Изменить пароль</button>
        </form>
    {% else %}
        <p>Ссылка для сброса пароля была недействительной, возможно, потому, 
            что она уже использовалась. Пожалуйста, запросите сброс нового пароля.
        </p>
    {% endif %}
</div>
{% endblock %}