{% extends "account/pattern.html" %}

{% block content %}

    {% if request.user.is_authenticated %}
    <div class="form">
        <p style="margin-bottom: 2rem">Вы уже авторизованы</p>
        <a style="margin-bottom: 2rem" href='http://127.0.0.1:8000/account/logout/'
        <button type="button" class="btn btn-outline-danger">Выйти из аккаунт</button>
        </a>
    </div>
    {% else %}
    <div class="form">
        <form method='post'>
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputText" class="form-label">Имя</label>
                {{ form.username }}
                <div id="emailHelp" class="form-text">Введеные данные никода не будут переданы кому-либо еще.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Пароль</label>
                {{ form.password }}
            </div>
            
            <button type="submit" class="btn btn btn-success">Подтвердить</button>
            <p style="margin-top: 0.5rem; color: {% if data == 'Успешно' %} #38b000  {% else %} #ba181b{% endif %}"> {{data}}</p>
        </form>
    </div>
    {% endif %}
{% endblock content%}

{% block page5 %}
style="text-decoration: underline;"
{% endblock page5 %}