{% extends "account/pattern.html" %}

{% block content %}
    
<div class="form">
    <form method='post' class='form_field'>
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputText" class="form-label">Имя</label>
            {{ form.username }}
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Пароль</label>
            {{ form.password }}
        </div>
        <div >
            <button type="submit" class="btn btn-outline-success">Подтвердить</button>
        </div>
        <div style="margin-top: 1rem">
            <a href="http://127.0.0.1:8000/account/registration/" style="margin-top: 1rem">
                <button type="button" class="btn btn-outline-secondary">Регистрация</button>
            </a>
        </div>
        <p style="margin-top: 0.5rem; color: {% if data == 'Успешно' %} #38b000  {% else %} #ba181b{% endif %}"> {{data}}</p>
    </form>
    <a href="{% url "password_reset" %}" class"pass_reset_btn">
        <button type="button" class="btn btn-outline-secondary">Восстановить пароль</button>
    </a>
</div>
{% endblock content%}

{% block page5 %}
style="text-decoration: underline;"
{% endblock page5 %}