{% extends 'main/pattern.html' %} 

{% block content%}
<div class='column_1'>
    <p>Согласие на использование cookie- файлов</p>
    <div class='cont_block' style="border-color: #136F63; margin-top: 1rem;">

<p>
    Настоящим, продолжая работу на Сайте https://balanced-project.ru, я даю свое согласие на автоматизированную обработку моих персональных данных (файлы cookie, сведения о действиях, которые я совершаю на Сайте, сведения об используемых для этого устройствах, сведения, путем совершения следующих действий: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, блокирование, удаление, уничтожение.
На Сайте используются следующие типы файлов cookie:
</p>
      1. Технические файлы cookie: они необходимы для корректной работы Сайта и вспомогательных сервисов. Такие файлы cookie позволяют определять аппаратное и программное обеспечение устройства Пользователя; выявлять ошибки при работе Сайта; тестировать новые функции для повышения производительности Сайта.
</div>
</div>
<div class='column_2'>
    <div class='cont_block' style="border-color: #3772FF; margin-top: 1rem;">
    <p>
        Срок хранения файлов cookie зависит от конкретного типа, но в любом случае не превышает срока, необходимого для достижения целей обработки персональных данных.
        </p>
        <p>
        При посещении Сайта Оператор запрашивает согласие Пользователя на использование файлов cookie.
        </p>
        <p>
            Обработка данных осуществляется в целях улучшения работы Сайта и совершенствования его сервисов. Настоящее согласие действует с момента его предоставления и в течение всего периода использования Сайта.
        </p>
    </div>
</div>
    {% endblock content%}

