{% extends 'main/pattern.html' %} 

{% block content%}
<div class="column_1">
    <div class="cont_block" style="border-color: #3772FF;">
        <p style="font-size: 1.2rem;">
            Добро пожаловать!
        </p>
        <p>
            Данный сайт создан для упрощенного пользования телеграм-ботом. Сайт служит ведения баланса и
            визуализации данных.
        </p>
    </div>
    <div class="cont_block" style="border-color: #136F63;">
        <p>
            Как уже было сказано сайт- это дополнение к боту. У бота и сайт одинаковый функционал, разве что в
            телеграме у вас уже создан аккаунт.
            Телеграм ботом проще пользоваться с мобильных устройств: не нужно заходить ни на какой сайт.
            Но сайт позволяет проще воспринимать информацию и упрощает пользование сервсом.
        </p>
        <p>
            Telegram-bot:
            <a href="https://web.telegram.org/k/#@Ba1ancedbot">https://web.telegram...</a>
        </p>
    </div>

</div>
<div class="column_2">
    <div class="cont_block" style="border-color: #FFBA08;">
        <p>Можете ознакомиться с сервисом самостоятельно, либо прочитать инструкцую, расположенную по ссылке
            ниже.</p>
        <a href="#">Инструкция</a>
    </div>
    <div class="cont_block" style="border-color: #D00000; ">
        <p style="font-family: 'Flow Rounded', cursive; font-size: 1.5rem; line-height: 1rem;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Omnis quod quae, at quia illo laborum dolore est praesentium qui adipisci vero eligendi fugiat a non sdsdd doloremque ipsum neque.
            Laboriosam! fjhdsklgjhdfkjslgh djfkgshdfkjghds jdfkgh jfkdhg asjk  kk sdkj fasjk j jk
        </p>
        <p>
            Перед началом пользования нужно зарегистрироваться.
        </p>
        <a href="entrance.html" style="color: #fff; text-decoration: none;">
            <button type="button" class="btn btn-outline-success">Начать</button>
        </a>
    </div>
</div>
{% endblock content%}

{% block page1 %}
style="text-decoration: underline;"
{% endblock page1 %}